name: Continuous Deployment
on:
  workflow_dispatch:
    inputs:
      versionPrefix:
        description: 'Version prefix for the NuGet package'
        required: true
        default: '1.0.0'
permissions:
  contents: read
jobs:
  continuous-deployment-nuget:
    name: Deploy to NuGet
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x
            9.x
            10.x
      - name: Package NuGet tool
        run: dotnet pack tool.cs --include-symbols --configuration release
      - name: Push NuGet packages
        working-directory: ./artifacts/tool
        run: dotnet nuget push "**/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate